@font-face {
  font-family: 'bodonixtregular';
  src: url("../fonts/bodoni-webfont.eot");
  src: url("../fonts/bodoni-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bodoni-webfont.woff2") format("woff2"), url("../fonts/bodoni-webfont.woff") format("woff"), url("../fonts/bodoni-webfont.ttf") format("truetype"), url("../fonts/bodoni-webfont.svg#bodonixtregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham-bold-webfont.eot");
  src: url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.ttf") format("truetype"), url("../fonts/gotham-bold-webfont.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham-medium-webfont.eot");
  src: url("../fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("../fonts/gotham-medium-webfont.ttf") format("truetype"), url("../fonts/gotham-medium-webfont.svg#gotham_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'interstateregular';
  src: url("../fonts/interstateblackcondensed-webfont.eot");
  src: url("../fonts/interstateblackcondensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstateblackcondensed-webfont.woff2") format("woff2"), url("../fonts/interstateblackcondensed-webfont.woff") format("woff"), url("../fonts/interstateblackcondensed-webfont.ttf") format("truetype"), url("../fonts/interstateblackcondensed-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'interstatelightregular';
  src: url("../fonts/interstate-extralight_24128-webfont.eot");
  src: url("../fonts/interstate-extralight_24128-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate-extralight_24128-webfont.woff2") format("woff2"), url("../fonts/interstate-extralight_24128-webfont.woff") format("woff"), url("../fonts/interstate-extralight_24128-webfont.ttf") format("truetype"), url("../fonts/interstate-extralight_24128-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  background: url(../temp_images/LandingPage.jpg) no-repeat top center;
  color: black;
  background-color: black;
  background-size: contain; }

.container {
  max-width: 1680px;
  margin: 0 auto; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.banner {
  height: 787px;
  position: relative; }

header {
  background-color: white;
  height: 104px;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 10%;
  top: 94px;
  opacity: 0.9; }

.city {
  float: left;
  height: 100%;
  line-height: 104px;
  padding-left: 60px;
  font-size: 11pt;
  font-family: "gotham_mediumregular", Arial, sans-serif; }

.logo-container {
  position: absolute;
  left: 40%;
  width: 20%;
  text-align: center;
  top: -47%; }

@media (min-width: 1680px) {
  header {
    width: 64%;
    left: 18%; }
  .wrapper {
    width: 64%; } }

@media (max-width: 640px) {
  header {
    width: 100%;
    left: 0;
    background-color: transparent; }
  .banner {
    height: 320px; }
  .city {
    display: none; }
  .wrapper {
    width: 100%; }
  .logo-container {
    width: 100%;
    left: 0; }
  .logo {
    width: 30%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 90%; }
  .logo-container {
    width: 36%;
    left: 32%; } }

footer {
  background-color: #f1f2f2;
  height: 43px; }

.copyrights {
  list-style: none;
  padding: 0 50px;
  height: 43px;
  line-height: 43px;
  font-size: 0; }

.rights, .contact-info {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  font-family: 'gotham_mediumregular'; }

.contact-info {
  text-align: right; }

@media (max-width: 640px) {
  footer {
    height: auto;
    padding: 10px 0; }
  .copyrights {
    padding: 0 10px;
    height: auto;
    line-height: 2; }
  .rights {
    width: 100%;
    text-align: center; }
  .contact-info {
    text-align: left;
    width: 100%;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    height: auto; }
  .copyrights {
    height: auto; }
  .rights {
    width: 100%;
    text-align: center; }
  .contact-info {
    width: 100%;
    text-align: center; } }

.banner-slider {
  height: 787px;
  list-style: none;
  margin: 0;
  padding: 0; }

.slider-item {
  height: 787px; }

.slick-arrow {
  z-index: 5;
  width: 30px;
  height: 58px;
  margin-top: 0; }

.slick-prev {
  left: 5%;
  top: 45%; }
  .slick-prev:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/slider-arrows.png) no-repeat top left; }

.slick-next {
  right: 5%;
  top: 45%; }
  .slick-next:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/slider-arrows.png) no-repeat top right; }

@media (max-width: 640px) {
  .banner-slider {
    height: 320px; }
  .slider-item {
    height: 320px; } }

.headline {
  background: black;
  height: 214px;
  position: relative;
  text-align: center; }

.headline-content {
  position: relative;
  top: -172px;
  background: black; }
  .headline-content:before {
    content: "";
    width: 558px;
    height: 5px;
    background: white;
    margin: 0 auto;
    display: block; }
  .headline-content .title {
    color: white;
    margin: 35px 0 0;
    font-family: 'bodonixtregular';
    font-size: 40px;
    font-weight: normal; }
  .headline-content .subtitle {
    color: white;
    margin: 0;
    font-family: 'bodonixtregular';
    font-weight: normal;
    font-style: italic;
    font-size: 28px; }
  .headline-content .intro {
    font-family: arial;
    color: white;
    padding: 0 140px;
    margin: 40px 0;
    line-height: 1.5;
    font-size: 14px; }

@media (max-width: 640px) {
  .headline {
    height: auto; }
  .headline-content {
    top: 0; }
    .headline-content:before {
      width: 200px; }
    .headline-content .title {
      font-size: 24px; }
    .headline-content .subtitle {
      font-size: 16px; }
    .headline-content .intro {
      padding: 0 10px;
      text-align: justify; } }

.events {
  background: white;
  height: 355px;
  padding-top: 50px; }

.event-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center; }

.event-item {
  position: relative;
  display: inline-block;
  margin-left: 17px; }
  .event-item:first-child {
    margin-left: 0; }
  .event-item .event-date {
    position: absolute;
    background-color: #282930;
    color: white;
    font-family: 'interstateregular';
    font-size: 50px;
    padding: 0 30px 0 10px;
    top: 0;
    left: 0;
    width: 96px; }
    .event-item .event-date .event-month {
      font-size: 20px;
      text-align: center;
      transform: rotate(-90deg);
      position: absolute;
      right: 0;
      top: 30%;
      width: 40%; }

.events-title {
  text-align: center;
  color: #282930;
  font-family: 'gotham_mediumregular';
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 40px; }

@media (max-width: 640px) {
  .events {
    height: auto;
    padding-top: 30px; }
  .events-title {
    font-size: 15px; }
  .event-item {
    margin: 10px;
    width: 240px; } }

.article {
  padding-top: 66px;
  background-color: #f1f2f2;
  height: 491px; }

.article-info {
  float: left;
  width: 400px;
  height: 367px;
  position: relative; }

.article-image {
  float: right; }

.article-category {
  text-align: center;
  display: block;
  font-family: 'interstatelightregular';
  font-size: 14px;
  margin-top: 12px; }

.article-title {
  font-family: 'gotham_boldregular';
  color: #979fa4;
  font-size: 37px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 17px; }

.article-excerpt {
  color: #282930;
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5; }

.button-cta {
  border: 2px solid red;
  border-radius: 3px;
  color: #e21f25;
  background: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-size: 17px;
  font-family: 'interstateregular'; }
  .button-cta:hover {
    background-color: #e21f25;
    color: white;
    opacity: .8; }

.article-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }

@media (max-width: 640px) {
  .article {
    padding: 20px 0;
    height: auto; }
  .article-info {
    float: none;
    width: 100%;
    height: auto;
    padding-bottom: 20px; }
  .article-title {
    font-size: 27px;
    text-align: center; }
  .article-excerpt {
    text-align: justify;
    padding: 0 10px; }
  .article-cta {
    position: static;
    margin-top: 20px; }
  .article-image img {
    width: 100%; } }

@media (max-width: 1024px) {
  .article-image {
    width: 500px; }
    .article-image img {
      width: 100%; } }
