@font-face {
  font-family: 'bodonixtregular';
  src: url("../fonts/bodoni-webfont.eot");
  src: url("../fonts/bodoni-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bodoni-webfont.woff2") format("woff2"), url("../fonts/bodoni-webfont.woff") format("woff"), url("../fonts/bodoni-webfont.ttf") format("truetype"), url("../fonts/bodoni-webfont.svg#bodonixtregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham-bold-webfont.eot");
  src: url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.ttf") format("truetype"), url("../fonts/gotham-bold-webfont.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham-medium-webfont.eot");
  src: url("../fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("../fonts/gotham-medium-webfont.ttf") format("truetype"), url("../fonts/gotham-medium-webfont.svg#gotham_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'interstateregular';
  src: url("../fonts/interstateblackcondensed-webfont.eot");
  src: url("../fonts/interstateblackcondensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstateblackcondensed-webfont.woff2") format("woff2"), url("../fonts/interstateblackcondensed-webfont.woff") format("woff"), url("../fonts/interstateblackcondensed-webfont.ttf") format("truetype"), url("../fonts/interstateblackcondensed-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'interstatelightregular';
  src: url("../fonts/interstate-extralight_24128-webfont.eot");
  src: url("../fonts/interstate-extralight_24128-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate-extralight_24128-webfont.woff2") format("woff2"), url("../fonts/interstate-extralight_24128-webfont.woff") format("woff"), url("../fonts/interstate-extralight_24128-webfont.ttf") format("truetype"), url("../fonts/interstate-extralight_24128-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 1, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

/* line 9, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.clearfix:after {
  clear: both; }

/* line 12, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
body {
  color: black;
  background-color: black;
  background-size: contain; }

/* line 18, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.container {
  max-width: 1680px;
  margin: 0 auto; }

/* line 22, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.wrapper {
  width: 80%;
  margin: 0 auto; }

/* line 26, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.banner {
  height: 787px;
  position: relative; }

/* line 31, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
header {
  background-color: white;
  height: 104px;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 10%;
  top: 94px;
  opacity: 0.9; }

/* line 41, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.city {
  float: left;
  height: 100%;
  line-height: 104px;
  padding-left: 60px;
  font-size: 11pt;
  font-family: "gotham_mediumregular", Arial, sans-serif; }

/* line 50, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.logo-container {
  position: absolute;
  left: 40%;
  width: 20%;
  text-align: center;
  top: -47%; }

/* line 58, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.button-cta {
  border: 2px solid red;
  border-radius: 3px;
  color: #e21f25;
  background: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-size: 17px;
  font-family: 'interstateregular';
  transition: all 0.2s ease-in-out; }
  /* line 70, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .button-cta:hover {
    background-color: #e21f25;
    color: white;
    opacity: .8; }

/* line 77, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #676b67;
  opacity: 0;
  transition: opacity 0.3s ease-in; }
  /* line 87, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .overlay.open {
    opacity: .75;
    z-index: 998; }

@media (max-width: 768px) {
  /* line 94, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .banner {
    height: 420px; } }

@media (min-width: 1680px) {
  /* line 99, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  header {
    width: 64%;
    left: 18%; }
  /* line 103, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .wrapper {
    width: 64%; } }

@media (max-width: 640px) {
  /* line 109, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  header {
    width: 100%;
    left: 0;
    background-color: transparent; }
  /* line 114, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .banner {
    height: 320px; }
  /* line 117, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .city {
    display: none; }
  /* line 120, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .wrapper {
    width: 100%; }
  /* line 123, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .logo-container {
    width: 100%;
    left: 0; }
  /* line 127, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .logo {
    width: 30%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 133, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .wrapper {
    width: 90%; }
  /* line 136, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_common.scss */
  .logo-container {
    width: 36%;
    left: 32%; } }

/* line 1, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
footer {
  background-color: #f1f2f2;
  height: 43px; }

/* line 5, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
.copyrights {
  list-style: none;
  padding: 0 50px;
  height: 43px;
  line-height: 43px;
  font-size: 0; }

/* line 12, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
.rights, .contact-info {
  display: inline-block;
  width: 50%;
  font-size: 11px;
  font-family: 'gotham_mediumregular'; }

/* line 18, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
.contact-info {
  text-align: right; }

@media (max-width: 640px) {
  /* line 23, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  footer {
    height: auto;
    padding: 10px 0; }
  /* line 27, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  .copyrights {
    padding: 0 10px;
    height: auto;
    line-height: 2; }
  /* line 32, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  .rights {
    width: 100%;
    text-align: center; }
  /* line 36, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  .contact-info {
    text-align: left;
    width: 100%;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 43, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  footer {
    height: auto; }
  /* line 46, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  .copyrights {
    height: auto; }
  /* line 49, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  .rights {
    width: 100%;
    text-align: center; }
  /* line 53, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/common/_footer.scss */
  .contact-info {
    width: 100%;
    text-align: center; } }

/* line 1, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
.banner-slider {
  height: 787px;
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 7, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
.slider-item {
  height: 787px; }

/* line 10, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
.slick-arrow {
  z-index: 5;
  width: 30px;
  height: 58px;
  margin-top: 0; }

/* line 16, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
.slick-prev {
  left: 5%;
  top: 45%; }
  /* line 19, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
  .slick-prev:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/slider-arrows.png) no-repeat top left; }

/* line 27, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
.slick-next {
  right: 5%;
  top: 45%; }
  /* line 30, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
  .slick-next:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/slider-arrows.png) no-repeat top right; }

@media (max-width: 768px) {
  /* line 42, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
  .banner-slider {
    height: 420px; }
  /* line 45, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
  .slider-item {
    height: 420px; } }

@media (max-width: 640px) {
  /* line 50, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
  .banner-slider {
    height: 320px; }
  /* line 53, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_banner-slider.scss */
  .slider-item {
    height: 320px; } }

/* line 1, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
.headline {
  background: black;
  height: 214px;
  position: relative;
  text-align: center; }

/* line 7, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
.headline-content {
  position: relative;
  top: -172px;
  background: black; }
  /* line 11, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline-content:before {
    content: "";
    width: 558px;
    height: 5px;
    background: white;
    margin: 0 auto;
    display: block; }
  /* line 19, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline-content .title {
    color: white;
    margin: 35px 0 0;
    font-family: 'bodonixtregular';
    font-size: 40px;
    font-weight: normal; }
  /* line 26, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline-content .subtitle {
    color: white;
    margin: 0;
    font-family: 'bodonixtregular';
    font-weight: normal;
    font-style: italic;
    font-size: 28px; }
  /* line 34, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline-content .intro {
    font-family: arial;
    color: white;
    padding: 0 140px;
    margin: 40px 0;
    line-height: 1.5;
    font-size: 14px; }

@media (max-width: 768px) {
  /* line 45, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline {
    height: auto; }
  /* line 48, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline-content {
    top: 0; }
    /* line 50, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content:before {
      width: 200px; }
    /* line 53, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content .title {
      font-size: 24px; }
    /* line 56, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content .subtitle {
      font-size: 16px; }
    /* line 59, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content .intro {
      padding: 0 10px;
      text-align: justify; } }

@media (max-width: 640px) {
  /* line 67, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline {
    height: auto; }
  /* line 70, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
  .headline-content {
    top: 0; }
    /* line 72, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content:before {
      width: 200px; }
    /* line 75, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content .title {
      font-size: 24px; }
    /* line 78, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content .subtitle {
      font-size: 16px; }
    /* line 81, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_headline.scss */
    .headline-content .intro {
      padding: 0 10px;
      text-align: justify; } }

/* line 1, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
.events {
  background: white;
  height: 355px;
  padding-top: 50px; }

/* line 6, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
.event-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center; }

/* line 13, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
.event-item {
  position: relative;
  display: inline-block;
  margin-left: 17px; }
  /* line 17, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
  .event-item:first-child {
    margin-left: 0; }
  /* line 20, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
  .event-item .event-date {
    position: absolute;
    background-color: #282930;
    color: white;
    font-family: 'interstateregular';
    font-size: 50px;
    padding: 0 30px 0 10px;
    top: 0;
    left: 0;
    width: 96px; }
    /* line 30, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
    .event-item .event-date .event-month {
      font-size: 20px;
      text-align: center;
      transform: rotate(-90deg);
      position: absolute;
      right: 0;
      top: 30%;
      width: 40%; }

/* line 41, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
.events-title {
  text-align: center;
  color: #282930;
  font-family: 'gotham_mediumregular';
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 40px; }

@media (max-width: 640px) {
  /* line 50, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
  .events {
    height: auto;
    padding-top: 30px; }
  /* line 54, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
  .events-title {
    font-size: 15px; }
  /* line 57, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_events.scss */
  .event-item {
    margin: 10px;
    width: 240px; } }

/* line 3, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article {
  padding-top: 66px;
  background-color: #f1f2f2;
  height: 491px; }

/* line 10, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article-info {
  float: left;
  width: 400px;
  height: 367px;
  position: relative; }

/* line 16, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article-image {
  float: right;
  width: 550px; }
  /* line 19, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-image img {
    width: 100%; }

/* line 23, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article-category {
  text-align: center;
  display: block;
  font-family: 'interstatelightregular';
  font-size: 14px;
  margin-top: 12px; }

/* line 30, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article-title {
  font-family: 'gotham_boldregular';
  color: #979fa4;
  font-size: 37px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 17px; }

/* line 39, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article-excerpt {
  color: #282930;
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5; }

/* line 48, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
.article-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }

@media (max-width: 1024px) {
  /* line 57, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-image {
    width: 500px; }
    /* line 59, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
    .article-image img {
      width: 100%; } }

@media (max-width: 768px) {
  /* line 66, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article {
    padding: 20px 0;
    height: auto; }
  /* line 70, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-info {
    float: none;
    width: 100%;
    height: auto;
    padding-bottom: 20px; }
  /* line 76, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-title {
    font-size: 27px;
    text-align: center; }
  /* line 80, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-excerpt {
    text-align: justify;
    padding: 0 10px; }
  /* line 84, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-cta {
    position: static;
    margin-top: 20px; }
  /* line 88, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-image {
    width: 100%; }
    /* line 90, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
    .article-image img {
      width: 100%; } }

@media (min-width: 1300px) {
  /* line 97, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
  .article-image {
    width: 620px; }
    /* line 99, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_article.scss */
    .article-image img {
      width: 100%; } }

/* line 1, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
.book-now {
  position: absolute;
  left: -29px;
  top: 320px;
  transform: rotate(-90deg);
  transform-origin: top left; }

/* line 8, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
.book-now-button {
  background-color: black;
  width: 40px;
  padding: 13px;
  color: white;
  font-size: 13px;
  font-family: "gotham_mediumregular", Arial, sans-serif;
  text-decoration: none; }

/* line 17, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
.book-now-form {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  width: 330px;
  height: auto;
  padding-top: 60px;
  background-color: black;
  color: #f1f2f2;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out; }
  /* line 29, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form.open {
    transform: translateX(0px); }
  /* line 32, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form .close {
    display: block;
    width: 13px;
    height: 13px;
    background: url(../images/icon-close.png) no-repeat center center;
    position: absolute;
    top: 31px;
    left: 21px; }
  /* line 41, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form form {
    width: 230px;
    margin: 0 auto; }
  /* line 45, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form fieldset {
    border: none;
    margin-bottom: 30px;
    padding: 0; }
  /* line 50, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form label {
    font-size: 14px;
    font-family: "gotham_mediumregular", Arial, sans-serif;
    display: block;
    margin-bottom: 12px; }
  /* line 56, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form input {
    height: 37px;
    width: 223px;
    background-color: white;
    border: 1px solid #696969;
    color: #a3aaae;
    font-family: "interstateregular", Arial, sans-serif;
    font-weight: normal;
    padding: 0 12px;
    font-size: 14px; }
  /* line 67, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form .selectric-wrapper {
    width: 99px;
    display: inline-block;
    float: left;
    font-family: "interstateregular", Arial, sans-serif; }
    /* line 72, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
    .book-now-form .selectric-wrapper:last-child {
      float: right; }
    /* line 75, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
    .book-now-form .selectric-wrapper .selectric {
      background-color: white; }
      /* line 77, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
      .book-now-form .selectric-wrapper .selectric .label {
        color: #a3aaae;
        font-size: 14px; }
      /* line 81, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
      .book-now-form .selectric-wrapper .selectric .button:after {
        background: url(../images/icon-chevron-down.png);
        width: 12px;
        height: 7px;
        border: none; }
    /* line 88, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
    .book-now-form .selectric-wrapper .selectric-items li {
      background-color: white; }
  /* line 92, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form .legend {
    font-family: "gotham_mediumregular", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #979fa4; }
  /* line 98, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form .btn-container {
    text-align: center;
    margin: 30px 0; }
  /* line 102, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
  .book-now-form .link {
    text-decoration: none;
    color: #979fa4;
    font-size: 14px;
    font-family: "gotham_mediumregular", Arial, sans-serif; }

/* line 110, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
.book-now-title {
  text-align: center;
  color: white; }

/* line 114, /Users/alcrodri/Downloads/tambourine/tambourine/stylesheets/modules/_book-now.scss */
.date-input {
  background: url(../images/icon-calendar.png) no-repeat center right 18px; }

/*# sourceMappingURL=main.css.map */