$article-height: 491px;
$article-padding-top: 66px;
.article{
    padding-top: $article-padding-top;
    background-color: #f1f2f2;
    height: $article-height;
}


.article-info{
    float: left;
    width: 400px;
    height: $article-height - $article-padding-top - 58px;
    position: relative;
}
.article-image{
    float: right;
    width: 550px;
    img{
        width: 100%;
    }
}
.article-category{
    text-align: center;
    display: block;
    font-family: 'interstatelightregular';
    font-size: 14px;
    margin-top: 12px;
}
.article-title{
    font-family: 'gotham_boldregular';
    color: #979fa4;
    font-size: 37px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 17px;
}

.article-excerpt{
    color: #282930;
    font-family: Arial;
    font-size: 15px;
    line-height: 1.5;
    
}


.article-cta{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 1024px){
    .article-image{
        width: 500px;
        img{
            width: 100%;
        }
    }
}

@media (max-width: 768px){
    .article{
        padding: 20px 0;
        height: auto;
    }
    .article-info{
        float: none;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .article-title{
        font-size: 27px;
        text-align: center;
    }
    .article-excerpt{
        text-align: justify;
        padding: 0 10px;
    }
    .article-cta{
        position: static;
        margin-top: 20px;
    }
    .article-image{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

@media (min-width: 1300px){
    .article-image{
        width: 620px;
        img{
            width: 100%;
        }
    }
}