.banner-slider{
    height: $banner-height;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slider-item{
    height: $banner-height;
}
.slick-arrow{
    z-index: 5;
    width: 30px;
    height: 58px;
    margin-top: 0;
}
.slick-prev{
    left: 5%;
    top: 45%;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: url(../images/slider-arrows.png) no-repeat top left;
    }
}
.slick-next{
    right: 5%;
    top: 45%;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: url(../images/slider-arrows.png) no-repeat top right; 
    }
}
.slick-prev:before{
    
}

@media (max-width: 640px){
    .banner-slider{
        height: $banner-height-mobile;
    }
    .slider-item{
        height: $banner-height-mobile;
    }
}