.events{
    background: white;
    height: 355px;
    padding-top: 50px;
}
.event-list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}
.event-item{
    position: relative;
    display: inline-block;
    margin-left: 17px;
    &:first-child{
        margin-left: 0;
    }
    .event-date{
        position: absolute;
        background-color: #282930;
        color: white;
        font-family: 'interstateregular';
        font-size: 50px;
        padding: 0 30px 0 10px;
        top: 0;
        left: 0;
        width: 96px;
        .event-month{
            font-size: 20px;
            text-align: center;
            transform: rotate(-90deg);
            position: absolute;
            right: 0;
            top: 30%;
            width: 40%;
        }
    }
}
.events-title{
    text-align: center;
    color: #282930;
    font-family: 'gotham_mediumregular';
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 40px;
}
.article{
    height: 491px;
}