*{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
body{
    background: url(../temp_images/LandingPage.jpg) no-repeat top center;
    color: black;
    background-color: $body-background-color;
    height: 1889px;
    background-size: contain;
}
.container{
    max-width: $container-max-width;
    margin: 0 auto;
}
.wrapper{
    width: $wrapper-width;
    margin: 0 auto;
}
.banner{
    height: 787px;
    position: relative;
}
//header
header{
    background-color: white;
    height: 104px;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 10%;
    top: 94px;
    opacity: 0.9;
}
.city{
    float: left;
    height: 100%;
    line-height: $header-height;
    padding-left: 60px;
    font-size: $header-font-size;
    font-family: $header-font;
    
}
.logo-container{
    position: absolute;
    left: 40%;
    width: 20%;
    text-align: center;
    top: -47%;
}

@media (min-width: 1680px){
    header{
        width: 64%;
        left: 18%;
    }
    .wrapper{
        width: $wapper-width-large;
    }
}
//end header