*{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
body{
    //background: url(../temp_images/LandingPage.jpg) no-repeat top center;
    color: black;
    background-color: $body-background-color;
    background-size: contain;
}
.container{
    max-width: $container-max-width;
    margin: 0 auto;
}
.wrapper{
    width: $wrapper-width;
    margin: 0 auto;
}
.banner{
    height: $banner-height;
    position: relative;
}
//header
header{
    background-color: white;
    height: 104px;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 10%;
    top: 94px;
    opacity: 0.9;
}
.city{
    float: left;
    height: 100%;
    line-height: $header-height;
    padding-left: 60px;
    font-size: $header-font-size;
    font-family: $header-font;
    
}
.logo-container{
    position: absolute;
    left: 40%;
    width: 20%;
    text-align: center;
    top: -47%;
}

.button-cta{
    border: 2px solid red;
    border-radius: 3px;
    color: #e21f25;
    background: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 17px;
    font-family: 'interstateregular';
    transition: all .2s ease-in-out;
    &:hover{
        background-color: #e21f25;
        color: white;
        opacity: .8;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #676b67;
    opacity: 0;
    transition: opacity .3s ease-in;
    &.open{
        opacity: .75;
        z-index: 998;
    }
}

@media (max-width: 768px){
    .banner{
        height: $banner-height-tablet;
    }
}
@media (min-width: 1680px){
    header{
        width: 64%;
        left: 18%;
    }
    .wrapper{
        width: $wapper-width-large;
    }
}

@media (max-width: 640px){
    header{
        width: 100%;
        left: 0;
        background-color: transparent;
    }
    .banner{
        height: $banner-height-mobile;
    }
    .city{
        display: none;
    }
    .wrapper{
        width: 100%;
    }
    .logo-container{
        width: 100%;
        left: 0;
    }
    .logo{
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .wrapper{
        width: 90%;
    }
    .logo-container{
        width: 36%;
        left: 32%;
    }
}
//end header