footer{
    background-color: $footer-background-color;
    height: $footer-height;
}
.copyrights{
    list-style: none;
    padding: 0 50px;
    height: $footer-height;
    line-height: $footer-height;
    font-size: 0; //fix inline-block
}
.rights, .contact-info{
    display: inline-block;
    width: 50%;
    font-size: 12px;
    font-family: 'gotham_mediumregular';
}
.contact-info{
    text-align: right;
}

@media (max-width: 640px){
    footer{
        height: auto;
        padding: 10px 0;
    }
    .copyrights{
        padding: 0 10px;
        height: auto;
        line-height: 2;
    }
    .rights{
        width: 100%;
        text-align: center;
    }
    .contact-info{
        text-align: left;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    footer{
        height: auto;
    }
    .copyrights{
        height: auto;
    }
    .rights{
        width: 100%;
        text-align: center;
    }
    .contact-info{
        width: 100%;
        text-align: center;
    }
}