$body-background-color: black;
$color: gray;

$container-max-width: 1680px;
$wrapper-width: 80%;
$wapper-width-large: 64%;


//fonts
$font-gotham-medium: 'gotham_mediumregular', Arial, sans-serif;
$font-bodonix: 'bodonixtregular', Arial, sans-serif;
$font-gotham-bold: 'gotham_mediumregular', Arial, sans-serif;
$font-interstate: 'interstateregular', Arial, sans-serif;
$font-interstate-light: 'interstatelightregular', Arial, sans-serif;

//header
$header-font-size: 11pt;
$header-height: 104px;
$header-font: $font-gotham-medium;

//banner
$banner-height: 787px;
$banner-height-mobile: 320px;
$banner-height-tablet: 420px;

//footer
$footer-background-color: #f1f2f2;
$footer-height: 43px;