$body-background-color: black;

$color: gray;

$container-max-width: 1680px;
$wrapper-width: 80%;
$wapper-width-large: 64%;


//header
$header-font-size: 11pt;
$header-height: 104px;
$header-font: 'gotham_mediumregular';

//banner
$banner-height: 787px;

//footer
$footer-background-color: #f1f2f2;
$footer-height: 43px;